#hero {
  margin-top: -15px;
 
  @include md{
    margin-top: -5px;
    margin-bottom: 200px;
   
  }

  >div {


    ul {

@include md{
   display: grid;
      grid-template-columns: 55% auto;
      grid-template-areas: "empty empty"
      "pink-e pink-e"
      "lie phone"
      "orange-e orange-e"
      "blueming blueming";
}

@include lg{
  grid-template-columns: auto 45% 45% auto;
  grid-template-areas: "empty empty empty empty"
  "pink-e pink-e pink-e pink-e"
  ". lie phone ."
  "orange-e orange-e orange-e orange-e"
  ". blueming blueming .";
}

@include xl{
  grid-template-columns: auto 40% 40% auto;
}
   

      #empty {
        background-color: $mint;
        height: 200px;
        padding-top: 70px;

        @include md{
           grid-area: empty;
           height: 250px;
        }

        @include lg{
          height: 300px;
        }

        @include xl{
          height: 400px;
        }
       
        
      }

      #pink-element {
        background-image: url("../img/hero/pinkelement.png");
        background-position: center;
        background-size: cover;
        height: 550px;
        width: 100%;
        margin-top: -200px;
        grid-area: pink-e;

        @include lg{
          height: 600px;
        }

        @include xl{
          height: 850px;
          margin-top: -270px;
        }

      }

      #lieimg {
        background-image: url("../img/hero/lie.png");
        background-position: center;
        background-size: cover;
        height: 400px;
        width: 100%;
        margin-top: -650px;
        grid-area: lie;

        @include md{
          height: 350px;
        
        }
        @include lg{
          margin-top: -700px;
        }

        @include xl{
          margin-top: -1100px;
          height: 600px;
          margin-left: -50px;
          padding-left: 120px;
        }

      }

      #phoneimg {
        background-image: url("../img/hero/phone.png");
        background-position: center;
        background-size: cover;
        height: 550px;
        width: 100%;
        margin-top: -300px;
        grid-area: phone;

        @include md{
          margin-top: -700px;
          height: 700px;
          padding-right: 50px;
          margin-left: -100px;
        }

        @include lg{
          margin-top: -750px;
        }

        @include xl{
          height: 850px;
          margin-top: -920px;
          margin-left: 50px;
        }
      }

      #orange-element {
        background-image: url("../img/hero/orangeelement.png");
        background-position: center;
        background-size: cover;
        height: 600px;
        width: 100%;
        margin-top: -250px;
        grid-area: orange-e;

        @include md{
          height: 500px;
        }

        @include lg{
          margin-top: -300px;
        }

        @include xl{
          height: 650px;
          margin-top: -380px;
        }

      }

      #blueming {
        background-image: url("../img/hero/blueming.png");
        background-position: center;
        background-size: cover;
        height: 700px;
        width: 100%;
        margin-top: -600px;
        grid-area: blueming;

        @include md{
          height: 1250px;
          margin-top: -800px;
        }

        @include xl{
          height: 1750px;
         margin-top: -1300px;
         margin-left: 50px;
        }

      }

    }

    aside{
      @include md{
        background-color: $orange;
        height: 500px;
        margin-top: -700px;
      }

      @include xl{
        margin-top: -800px;
      }
    }
  }
}