#loader-container{
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: 500;
    


    >div{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

#mouth2, #eyes2{
    visibility: hidden;
}

#mouth3, #eyes3{
    visibility: hidden;
}

#mouth4, #eyes4{
    visibility: hidden;
}

#mouth5, #eyes5{
    visibility: hidden;
}

#mouth6, #eyes6{
    visibility: hidden;
}

#mouth7, #eyes7{
    visibility: hidden;
}
      
    }
}

.gs-dev-tools{
    z-index: 550;
}